DATA TYPES

In [14]:
type(12 + 100)

int

In [15]:
type(10 + .2)

float

In [16]:
type(10 + 3j)

complex

Boolean

In [17]:
type(1 > 5)

bool

In [18]:
1 > 5

False

Strings

In [19]:
'Single Quote'

'Single Quote'

In [20]:
"Double Quote"

'Double Quote'

In [ ]:
multiline_str = """
I have a life of abundance, 
I am so happy.
Thank you Krishna
"""

In [24]:
print(multiline_str)
type(multiline_str)

I have a life of abundance,
I am so happy.
Thank you Krishna

str

In [28]:
a = 'Hello World!'
print(a[2:5])

llo

In [29]:
print(a*3)

Hello World!Hello World!Hello World!

Lists( "[ ]" is for lists)

In [30]:
[1, 2, 3]

[1, 2, 3]

In [31]:
["Cookie", "Strawberry", "Chocolate"]

['Cookie', 'Strawberry', 'Chocolate']

In [37]:
ice_cream = ['Vanilla', 'Chocolate', 'Sitapal']
ice_cream.append('Salted Caramel')
ice_cream

['Vanilla', 'Chocolate', 'Sitapal', 'Salted Caramel']

In [38]:
ice_cream[0] = 'Peanut Butter'
ice_cream

['Peanut Butter', 'Chocolate', 'Sitapal', 'Salted Caramel']

In [40]:
nest_list = ['Vanilla', 3, ['Scoops', 'Spoon'], True]

In [41]:
nest_list[2][1]

'Spoon'

Tuple "( )" #(list that cannot change)

In [42]:
tuple_scoops = (1, 2, 4, 5, 6)

In [44]:
tuple_scoops[0]

1

In [95]:
tuple_scoops.append(3)

AttributeError: 'tuple' object has no attribute 'append'

Sets "{ }"   <br>#(they dont repeating numbers and the values have no index)

In [ ]:
daily_pints = {1, 2, 3}

In [47]:
print(daily_pints)

{1, 2, 3}

In [ ]:
daily_pints_logs = {1, 2, 3, 4, 4, 3, 1, 3, 2, 5, 8, 7, 0, 5, 8}
print(daily_pints_logs)

{0, 1, 2, 3, 4, 5, 7, 8}

In [ ]:
wifes_daily_pints_logs = {1, 3, 5, 7, 3, 4, 19}

In [ ]:
# "|" is used when using or function in sets
print(daily_pints_logs | wifes_daily_pints_logs)

{0, 1, 2, 3, 4, 5, 7, 8, 19}

In [ ]:
print(daily_pints_logs & wifes_daily_pints_logs)  # "&" is and obviously

{1, 3, 4, 5, 7}

In [ ]:
print(wifes_daily_pints_logs - daily_pints_logs)
print(daily_pints_logs - wifes_daily_pints_logs)

{19}
{0, 8, 2}

In [ ]:
# "^" when we need only unique values from both sets
print(wifes_daily_pints_logs ^ daily_pints_logs)

{0, 2, 8, 19}

Dictionaries <br>
-Key/Value Pair

In [ ]:
dict_cream = {'name': 'Alex', 'weekly_intake': 5,
              'flavour': ['MMC', 'Chocolate']}

In [68]:
print(dict_cream)

{'name': 'Alex', 'weekly_intake': 5, 'flavour': ['MMC', 'Chocolate']}

In [ ]:
dict_cream.values()

dict_keys(['name', 'weekly_intake', 'flavour'])

In [ ]:
dict_cream.keys()

dict_keys(['name', 'weekly_intake', 'flavour'])

In [74]:
dict_cream.items()

dict_items([('name', 'Alex'), ('weekly_intake', 5), ('flavour', ['MMC', 'Chocolate'])])

In [76]:
dict_cream['name']

'Alex'

In [78]:
dict_cream['name'] = 'Chris'
print(dict_cream)

{'name': 'Chris', 'weekly_intake': 5, 'flavour': ['MMC', 'Chocolate']}

In [80]:
dict_cream.update({'name': 'Chris', 'weekly_intake': 5, 'weight': 80})
print(dict_cream)

{'name': 'Chris', 'weekly_intake': 5, 'flavour': ['MMC', 'Chocolate'], 'weight': 80}

In [81]:
del dict_cream['weight']
print(dict_cream)

{'name': 'Chris', 'weekly_intake': 5, 'flavour': ['MMC', 'Chocolate']}

LAMBDA

In [ ]:
def add(x, y):  # without lambda
    return x + y


print(add(2, 3))


def lambda_add(x, y): return x + y  # with lambda


print(lambda_add(2, 3))

5
5

In [ ]:
# higher order function example

nums = [3, 4, 5, 6, 7]

In [ ]:
# example 1
def lambda_test(my_func, my_iter):
    result = []
    for x in my_iter:
        new = my_func(x)
        result.append(new)
    return result


list = [3, 4, 5, 6]

lambda_test(lambda x: x**2, list)

[1, 6, 7, 4]

In [ ]:
# example 2

def lambda_ex2(my_func, my_iter):
    result = []
    for item in my_iter:
        new_item = my_func(item)
        result.append(new_item)
    return result


list = [4, 7, 3, 5, 9]
lambda_ex2(lambda x: x**4, list)

[256, 2401, 81, 625, 6561]